@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';*/
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'BRBA_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




html{font-size: 2.29226361032vw; overflow-x: hidden;}
body{font-size: 0.57306590258vw; font-family: 'NanumSquare'; overflow-x: hidden;}
a{display: block;}
img{display: block; width: 100%;}

/*back-to-position*/
.back-to-position{
    opacity: 0;
    transition: 1s;
}
.back-to-position.on{
    opacity: 1;
}

/*공통*/
.cnt{
    width: 80%;
    max-width: 1396px;
    margin:0 auto;
}

/*cntWrap01*/
.cntWrap01,
.cntWrap09{
    height: 100vh;
    background: url('../images/mnBg.png')no-repeat center;
    background-size: cover;
    position: relative;
}
.cntWrap09{
    background: url('../images/darkblueBg.png')no-repeat center;
    background-size: cover;
}
/*cnt01Left cnt07Left*/
.cnt01 .cnt01Left,
.cnt09 .cnt09Left{
    width: calc(100% / 12 * 3);
    position: absolute;
    left: min(4rem, 160px);
    bottom: min(2rem, 80px);
}
.cnt01 .cnt01Left p.title,
.cnt09 .cnt09Left p.title{
    text-transform: uppercase;
    font-family: 'BRBA_B';
    color: #69779B;
    font-size: min(2em, 20px);
    letter-spacing: 3px;
}
.cnt09 .cnt09Left p.title{
    color: #FFF2DC;
}
.cnt01 .cnt01Left .cttGr,
.cnt09 .cnt09Left .cttGr{
    margin-top: min(1.5rem, 60px);
}
.cnt01 .cnt01Left .cttGr .cttBox,
.cnt09 .cnt09Left .cttGr .cttBox{
    margin-top: min(0.25rem, 10px);
}
.cnt01 .cnt01Left .cttGr .cttBox:first-child,
.cnt09 .cnt09Left .cttGr .cttBox:first-child{
    margin-top: 0;
}
.cnt01 .cnt01Left .cttGr .cttBox p,
.cnt09 .cnt09Left .cttGr .cttBox p{
    line-height: min(1rem, 40px);
}
.cnt01 .cnt01Left .cttGr p.title,
.cnt09 .cnt09Left .cttGr p.title{
    font-size: min(1.8em, 18px);
}
.cnt01 .cnt01Left .cttGr p.content,
.cnt09 .cnt09Left .cttGr p.content{
    font-size: min(1.6em, 16px);
    font-family: 'BRBA_B';
    color: #69779B;
    letter-spacing: 1px;
}
.cnt09 .cnt09Left .cttGr p.content{
    color: #FFF2DC;
}

/*cnt01*/
.cntWrap01 .menu{
    position: fixed;
    top: min(7rem, 280px);
    right: calc(100% / 12 * 0.1);
    z-index: 20;
}
.cntWrap01 .menu ul li{
    font-family: 'BRBA_B';
    color: #69779B;
    font-size: min(1.9em, 19px);
    text-transform: uppercase;
    padding: min(0.5rem, 20px) 5px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #69779B;
    background: url('../images/mnBg.png')no-repeat center;
    margin-top: min(0.25rem, 10px);
}
.cntWrap01 .menu ul li:hover{
    color: #869dbf;
}
/*cnt01Right*/
.cnt01 .cnt01Right{
    width: calc(100% / 12 * 6);
    position: absolute;
    right: min(4rem, 160px);
    top: min(2rem, 80px);
}
.cnt01 .cnt01Right p.subTitle{
    font-size: min(4em, 40px);
    color: #69779B;
    font-family: 'BRBA_B';
}
.cnt01 .cnt01Right h1{
    margin-top: min(1.5rem, 60px);
}
.cnt01 .cnt01Right h1 img{
    width: 100%;
}
/*cnt09Right*/
.cnt09 .cnt09Right{
    position: absolute;
    right: min(4rem, 160px);
    top: min(2rem, 80px);
}

/*cntWrap02*/
.cntWrap02,
.cntWrap08{
    background: url('../images/blueBg.png')no-repeat center;
    background-size: cover;
}
.cnt02{
    padding: min(3rem, 120px) 0;
}
.cnt02 h2{
    width: calc(100% / 12 * 3);
    transform: translateX(-150px);
}
.cnt02 h2.on,
.cnt02 .cnt02Left img.on,
.cnt02 p.title.on,
.cnt02 .cnt02Left .cnt02Box .inrBox.on,
.cnt02 .cnt02Right .cnt02Rightframe01 .inrBox.on,
.cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box p.title.on,
.cnt02 .cnt02Right .cnt02Rightframe02 .cnt02Box p.title.on,
.cnt02 .cnt02Right .cnt02Rightframe02 .cnt02Box .inrBoxFrame.on,
.cnt03 .cnt03Box h2.on,
.cnt03 .cnt03Box ul.on,
.sect .stnFrame .stnLeft .mnBox.on,
.sect .stnFrame .stnLeft .subBox.on,
.sect .stnRight .btn.on,
.sect .stnRight .viewBox .desktop.on,
.sect .stnRight .viewBox .tablet.on,
.sect .stnRight .viewBox .mobile.on,
.cntWrap08 .cnt08 h2.on,
.cntWrap08 .cnt08 .cnt08Frame.on{
    transform: translateX(0);
    transform:translateY(0);
}
.cnt02 .cnt02Frame{
    display: flex;
    justify-content: space-between;
    margin-top: min(1rem, 40px);
}
/*cnt02Left*/
.cnt02 .cnt02Left{
    width: calc(100% / 12 * 2.8);
}
.cnt02 .cnt02Left .cnt02LeftFrame{
    margin-top: min(0.5rem, 20px);
}
.cnt02 .cnt02Left>img{
    width: calc(100% / 2.8 * 2);
    transform: translateX(-150px);
    transition-delay: 0.2s;
}
.cnt02 p.title{
    font-family: 'BRBA_B';
    color: #FFF2DC;
    font-size: min(2.3em, 23px);
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: min(1.75rem, 70px);
    border-bottom: 1px solid #fff;
    padding-left: calc(100% / 2.8  * 0.2);
    transform: translateX(-150px);
    transition-delay: 0.4s;
}
.cnt02 .cnt02Left .cnt02Box .inrBox{
    margin: 0 auto;
    width: calc(100% / 2.8 * 2.5);
    margin-top: min(0.5rem, 20px);
    transform: translateX(-150px);
    transition-delay: 0.6s;
}
.cnt02 .cnt02Left .cnt02Box .inrBox p{
    font-size: min(1.7em, 17px);
    color: #FFF2DC;
    font-family: 'SUIT-Regular';
    font-weight: 100;
    display: flex;
    justify-content: left;
    line-height: min(0.75rem, 30px);
}
.cnt02 .cnt02Left .cnt02Box .inrBox p span.title{
    color: #fff;
    text-transform: uppercase;
    width: calc(100% / 2.8 * 0.9);
}
.cnt02 .cnt02Left .cnt02BoxBtm{
    margin-top: min(1rem, 40px);
}
.cnt02 .cnt02Left .cnt02BoxBtm .inrBox p{
    line-height: min(1.5rem, 60px);
}
.cnt02 .cnt02Left .cnt02BoxBtm .inrBox p img{
    width: calc(100% / 3 * 0.5);
    margin-right: calc(100% / 2.8 * 0.3);
}
.cnt02 .cnt02Left .cnt02BoxBtm .inrBox p span{
    font-family: 'BRBA_B';
    margin-top: min(0.25rem, 10px);
    letter-spacing: 3px;
}
/*cnt02Right*/
.cnt02 .cnt02Right{
    width: calc(100% / 12 * 8);
    display: flex;
    justify-content: space-between;
}
/*cnt02Rightframe01*/
.cnt02 .cnt02Right .cnt02Rightframe01{
    width: calc(100% / 8 * 3.8);
}
.cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box{
    margin-top: min(2rem, 80px);
}
.cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box:first-child{
    margin-top: 0;
}
.cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box:nth-child(1) .inrBox p:last-child,
.cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box:nth-child(2) .inrBox p:last-child{
    margin-top: min(0.25rem, 10px);
}
.cnt02 .cnt02Right .cnt02Rightframe01 .inrBox{
    margin: 0 auto;
    width: calc(100% / 3.8 * 3.5);
    margin-top: min(0.5rem, 20px);
    transform: translateX(150px);
    transition-delay: 0.9s;
}
.cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box p.title{
    padding-left: calc(100% / 3.8  * 0.2);
    transform: translateX(150px);
    transition-delay: 0.6s;
}
.cnt02 .cnt02Right .cnt02Rightframe01 .inrBox p{
    font-size: min(1.7em, 17px);
    color: #FFF2DC;
    font-family: 'SUIT-Regular';
    font-weight: 100;
    line-height: min(0.75rem, 30px);
}
.cnt02 .cnt02Right .cnt02Rightframe01 span.date{
    color: #fff;
    
}
.cnt02 .cnt02Right .cnt02Rightframe01 span.block{
    display: block;
}
/*cnt02Rightframe02*/
.cnt02 .cnt02Right .cnt02Rightframe02{
    width: calc(100% / 8 * 3.5);
}
.cnt02 .cnt02Right .cnt02Rightframe02 .cnt02Box p.title{
    padding-left: calc(100% / 3.5  * 0.2);
    transform: translateX(150px);
}
.cnt02 .cnt02Right .cnt02Rightframe02 .cnt02Box .inrBoxFrame{
    transform: translateX(150px);
    transition-delay: 0.9s;
}
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBox{
    width: calc(100% / 3.5 * 3.2);
    margin: 0 auto;
    margin-top: min(0.5rem, 20px);
}
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBox p{
    font-family: 'SUIT-Regular';
}
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop{
    display: flex;
    justify-content: space-between;
    line-height: min(1.125rem, 45px);
}
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop p.skillTitle{
    color: #FFF2DC;
    font-family: 'BRBA_B';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: min(1.8em, 18px);
    width: calc(100% / 3.2 * 2);
}
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox{
    background-color: #FFF2DC;
    height: min(0.5rem, 20px);
    width: 100%;
    margin-top: min(0.3125rem, 12.5px);
    border-radius: 3px;
    animation-delay: 1s;
}
/*skill*/
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox01.on,
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox02.on{
    animation: skill01 2s ease-in-out forwards;
}
@keyframes skill01{
    from{
        width:0;
    }
    to{
        width:80%;
    }
}
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox03.on,
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox05.on{
    animation: skill03 2s ease-in-out forwards;
}
@keyframes skill03{
    from{
        width:0;
    }
    to{
        width:90%;
    }
}
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox04.on,
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox06.on,
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox07.on{
    animation: skill04 2s ease-in-out forwards;
}
@keyframes skill04{
    from{
        width:0;
    }
    to{
        width:65%;
    }
}
.cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxBtm{
    font-size: min(1.6em, 16px);
    color: #FFF2DC;
    line-height: min(0.5625rem, 22.5px);
}

/*cntWrap03*/
.cntWrap03{
    background: url('../images/darkblueBg.png')no-repeat center;
    background-size: cover;
}
.cnt03{
    height: 100vh;
    position: relative;
}
.cnt03 .cnt03Box{
    width: calc(100% / 12 * 4);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cnt03 .cnt03Box h2{
    width: calc(100% / 4 * 1.7);
    margin: 0 auto;
    transform: translateX(-150px);
}
.cnt03 .cnt03Box ul{
    margin-top: min(1.25rem, 50px);
    transform: translateX(150px);
}
.cnt03 .cnt03Box ul li{
    font-size: min(2.5em, 25px);
    color: #FFF2DC;
    font-family: 'BRBA_B';
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    line-height: min(1.5rem, 60px);
}

/*cntWrap04*/
.cntWrap04{
    padding-top: min(2rem, 80px);
}

.cntWrap07{
    padding-bottom: min(2rem, 80px);
}

/*sectWrap*/
.sectWrap{
    background: url('../images/mnBg.png')no-repeat center;
    background-size: cover;
    z-index: 10;
    position: relative;
}
.sect{
    padding: min(2rem, 80px) 0;
}
.sect .stnFrame{
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: min(1.5rem, 60px) 0;
}
.sect .stnFrame.on{
    height: auto;
}
.sect .stn01Frame{
    background: url('../images/project01Bg.png')no-repeat center;
    background-size: cover;
}
.sect .stn02Frame{
    background: url('../images/project02Bg.png')no-repeat center;
    background-size: cover;
}
.sect .stn03Frame{
    background: url('../images/project03Bg.png')no-repeat center;
    background-size: cover;
}
.sect .stn04Frame{
    background: url('../images/project04Bg.png')no-repeat center;
    background-size: cover;
}
/*stnLeft*/
.sect .stnFrame .stnLeft{
    width: calc(100% / 12 * 3);
}
.sect .stnFrame .stnLeft .mnBox{
    transform:translateX(-200px);
    transition-delay: 0.3s;
}
.sect .stnFrame .stnLeft .mnBox p.mnBoxBtm{
    font-size: min(1.6em, 16px);
    color: #4f463d;
    line-height: min(0.625rem, 25px);
    font-family: 'SUIT-Regular';
    margin-top: min(1rem, 40px);
}
.sect .stnFrame .stnLeft .subBox{
    margin-top: min(1.25rem, 50px);
    transform:translateX(-200px);
    transition-delay: 0.5s;
}
.sect .stnFrame .stnLeft .subBox .innerBox{
    margin-top: min(1rem, 40px);
}
.sect .stnFrame .stnLeft .subBox .innerBox p.title{
    font-family: 'BRBA_B';
    color: #4f463d;
    font-size: min(2.3em, 23px);
    text-transform: capitalize;
    letter-spacing: 2px;
}
.sect .stnFrame .stnLeft .subBox .innerBox .content{
    margin-top: min(0.375rem, 15px);
    font-size: min(1.5em, 15px);
    color: #4f463d;
    font-family: 'SUIT-Regular';
}
.sect .stnFrame .stnLeft .subBox .innerBox .content ul{
    display: flex;
    justify-content: left;
}
.sect .stnFrame .stnLeft .subBox .innerBox .content ul li{
    margin-right: calc(100% / 3 * 0.1);
}
.sect .stnFrame .stnLeft .subBox .innerBox .content ul li:last-child{
    margin-right: 0;
}
/*stnRight*/
.sect .stnRight{
    width: calc(100% / 12 * 7.5);
}
/*btn*/
.sect .stnRight .btn{
    width: calc(100% / 7.5 * 3);
    margin: 0 auto;
    margin-top: min(1rem, 40px);
    transform:translateX(200px);
    transition-delay: 0.7s;
}
.cnt06.sect .stnRight .btn{
    width: calc(100% / 7.5 * 5);
}
.sect .stnRight .btn ul{
    display: flex;
    justify-content: space-between;
}
.sect .stnRight .btn ul li{
    background: url('../images/button.png')no-repeat center;
    background-size: cover;
    border-radius: 3px;
    width: calc(100% / 3 * 1.2);
    text-align: center;
    text-transform: uppercase;
}
.cnt06.sect .stnRight .btn ul li{
    width: calc(100% / 5 * 1.2);
}
.sect .stnRight .btn ul li a{
    font-family: 'BRBA_B';
    color: #4f463d;
    font-size: min(2.3em, 23px);
    line-height: min(1.25rem, 50px);
}

/*viewBox*/
.sect .stnRight .viewBox{
    position: relative;
    margin-top: min(2rem, 80px);
}
.sect .stnRight .viewBox .desktop{
    width: calc(100% / 7.5 * 5.3);
    margin: 0 auto;
    transform:translateX(300px);
    transition-delay: 0.9s;
}
.sect .stnRight .viewBox .tablet{
    position: absolute;
    left: 0;
    bottom: min(-1.25rem, -50px);
    width: calc(100% / 7.5 * 3.5);
    transform:translateX(300px);
    transition-delay: 1.1s;
}
.sect .stnRight .viewBox .mobile{
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% / 7.5 * 1.4);
    transform:translateX(300px);
    transition-delay: 1.2s;
}

/*cntWrap08*/
.cntWrap08{
    position: relative;
}
.cntWrap08 .cnt08{
    padding: min(2.25rem, 90px) 0;
}
.cntWrap08 .cnt08 h2{
    width: calc(100% / 12 * 3.8);
    margin: 0 auto;
    transform:translateY(-50px);
}
.cntWrap08 .cnt08 .cnt08Frame{
    width: calc(100% / 12  * 9);
    margin: 0 auto;
    margin-top: min(1.25rem, 50px);
    transition-delay: 0.3s;
}
.cntWrap08 .cnt08 ul{
    display: flex;
    justify-content: space-between;
}
.cntWrap08 .cnt08 ul.secondLine{
    margin-top: min(0.5rem, 20px);
}
.cntWrap08 .cnt08 ul li{
    margin-right: min(0.5rem, 20px);
    filter: grayscale(1);
    transition: 0.7s;
    cursor: pointer;
}
.cntWrap08 .cnt08 ul li:last-child{
    margin-right: 0;
}
.cntWrap08 .cnt08 ul li:hover{
    filter: grayscale(0);
    scale: 1.04;
}
/*modal*/
.cntWrap08 .cnt08 .modal{
    background:rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.cntWrap08 .cnt08 .modal .modalBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% / 12 * 5);
    margin: 0 auto;
}
.cntWrap08 .cnt08 .modal p.close{
    font-size: min(2.3em, 23px);
    font-family: 'SUIT-Regular';
    color: #fff;
    cursor: pointer;
}
.cntWrap08 .cnt08 .modal .modalBox .modalBoxFrame{
    margin-top: min(0.125rem, 5px);
}
.cntWrap08 .cnt08 .modal .modalBox div.first img,
.cntWrap08 .cnt08 .modal .modalBox div.second img{
    display: none;
}
.cntWrap08 .cnt08 .modal.show,
.cntWrap08 .cnt08 .modal .modalBox div.first img.show,
.cntWrap08 .cnt08 .modal .modalBox div.second img.show{
    display: block;
}

@media(min-width: 0px)and (max-width: 1024px){
    /*공통*/
    .cnt{
        width: 90%;
        max-width: 900px;
    }

    /*cntWrap01 cntWrap10*/
    .cntWrap01,
    .cntWrap09{
        height: 100vh;
    }
    .cnt01,
    .cnt09{
        padding: max(2rem, 80px) 0;
    }
    /*cnt01Left cnt09Left*/
    .cnt01 .cnt01Left,
    .cnt09 .cnt09Left{
        width: calc(100% / 8 * 3);
        left: max(1rem, 40px);
        bottom: max(2rem, 80px);
    }
    .cnt01 .cnt01Left p.title,
    .cnt09 .cnt09Left p.title{
        font-size: max(2.2em, 22px);
    }
    .cnt01 .cnt01Left .cttGr,
    .cnt09 .cnt09Left .cttGr{
        margin-top: max(1.5rem, 60px);
    }
    .cnt01 .cnt01Left .cttGr .cttBox,
    .cnt09 .cnt09Left .cttGr .cttBox{
        margin-top: max(0.25rem, 10px);
    }
    .cnt01 .cnt01Left .cttGr .cttBox p,
    .cnt09 .cnt09Left .cttGr .cttBox p{
        line-height: max(1rem, 40px);
    }
    .cnt01 .cnt01Left .cttGr p.title,
    .cnt09 .cnt09Left .cttGr p.title{
        font-size: max(2em, 20px);
    }
    .cnt01 .cnt01Left .cttGr p.content,
    .cnt09 .cnt09Left .cttGr p.content{
        font-size: max(1.9em, 19px);
    }

    /*cnt01 menu*/
    .cntWrap01 .menu{
        top: 0;
        left: 0;
        padding : 0;
        border-radius: 0;
        border: 0;
        width: 100%;
        background: url('../images/menuBg.png')no-repeat center;
    }
    .cntWrap01 .menu ul{
        display: flex;
        justify-content: space-around;
    }
    .cntWrap01 .menu ul li{
        font-size: max(1.8em, 18px);
        padding: max(0.5rem, 20px) 0;
        border-radius: 0;
        border: 0;
        background: none;
        margin-top: 0;
    }
    /*cnt01Right*/
    .cnt01 .cnt01Right,
    .cnt09 .cnt09Right{
        right: max(1rem, 40px);
        top: max(2rem, 80px);
    }
    .cnt01 .cnt01Right{
        width: calc(100% / 8 * 4);
        margin-top: 0;
        top: max(2rem, 80px);
    }
    .cnt01 .cnt01Right p.subTitle{
        font-size: max(3em, 30px);
    }
    .cnt01 .cnt01Right h1{
        margin-top: max(1.5rem, 60px);
    }
    /*cnt09Right*/
    .cnt09 .cnt09Right{
        width: calc(100% / 8 * 3.5);
        margin-top: 0;
    }

    /*cntWrap02*/
    .cnt02{
        padding: max(2rem, 80px) 0;
    }
    .cnt02 h2{
        width: calc(100% / 8 * 3);
    }
    .cnt02 .cnt02Frame{
        margin-top: max(1.25rem, 50px);
    }
    /*cnt02Left*/
    .cnt02 .cnt02Left{
        width: calc(100% / 8 * 3.1);
    }
    .cnt02 .cnt02Left .cnt02LeftFrame{
        margin-top: max(0.5rem, 20px);
    }
    .cnt02 .cnt02Left img{
        width: calc(100% / 3.1 * 2);
    }
    .cnt02 p.title{
        font-size: max(2.5em, 25px);
        line-height: max(1.75rem, 70px);
        padding-left: calc(100% / 3.1  * 0.2);
    }
    .cnt02 .cnt02Left .cnt02Box .inrBox{
        width: calc(100% / 3.1 * 2.7);
        margin-top: max(0.5rem, 20px);
    }
    .cnt02 .cnt02Left .cnt02Box .inrBox p{
        font-size: max(1.9em, 19px);
        line-height: max(0.875rem, 35px);
    }
    .cnt02 .cnt02Left .cnt02Box .inrBox p span.title{
        width: calc(100% / 3.1 * 0.8);
    }
    .cnt02 .cnt02Left .cnt02BoxBtm{
        margin-top: max(1rem, 40px);
    }
    .cnt02 .cnt02Left .cnt02BoxBtm .inrBox p{
        line-height: max(1.75rem, 70px);
    }
    .cnt02 .cnt02Left .cnt02BoxBtm .inrBox p img{
        width: calc(100% / 3.1 * 0.6);
        margin-right: calc(100% / 2.7 * 0.3);
    }
    .cnt02 .cnt02Left .cnt02BoxBtm .inrBox p span{
        margin-top: max(0.125rem, 5px);
    }
    /*cnt02Right*/
    .cnt02 .cnt02Right{
        width: calc(100% / 8 * 4.5);
        display: block;
    }
    /*cnt02Rightframe01*/
    .cnt02 .cnt02Right .cnt02Rightframe01{
        width: 100%;
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box{
        margin-top: max(2rem, 80px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box:first-child{
        margin-top: 0;
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box:nth-child(2) .inrBox p:last-child{
        margin-top: max(0.25rem, 10px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .inrBox{
        width: calc(100% / 4.5 * 4.1);
        margin-top: max(0.5rem, 20px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box p.title{
        padding-left: calc(100% / 4.5  * 0.2);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .inrBox p{
        font-size: max(1.9em, 19px);
        line-height: max(0.875rem, 35px);
    }
    /*cnt02Rightframe02*/
    .cnt02 .cnt02Right .cnt02Rightframe02{
        width: 100%;
        margin-top: max(2rem, 80px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .cnt02Box p.title{
        padding-left: calc(100% / 4.5  * 0.2);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBox{
        width: calc(100% / 4.5 * 4.1);
        margin-top: max(0.5rem, 20px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop{
        line-height: max(1.125rem, 45px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop p.skillTitle{
        font-size: max(2em, 20px);
        width: calc(100% / 4.5 * 2.5);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox{
        height: max(0.5rem, 20px);
        width: 100%;
        margin-top: max(0.3125rem, 12.5px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxBtm{
        font-size: max(1.8em, 18px);
        line-height: max(0.625rem, 25px);
    }

    /*cntWrap03*/
    .cnt03 .cnt03Box{
        width: calc(100% / 8 * 5);
    }
    .cnt03 .cnt03Box h2{
        width: calc(100% / 5 * 1.8);
    }
    .cnt03 .cnt03Box ul{
        margin-top: max(1.25rem, 50px);
    }
    .cnt03 .cnt03Box ul li{
        font-size: max(2.5em, 25px);
        line-height: max(1.5rem, 60px);
    }

    /*cntWrap04*/
    .cntWrap04{
        padding-top: max(2rem, 80px);
    }

    .cntWrap07{
        padding-bottom: max(2rem, 80px);
    }

    /*sectWrap*/
    .sect{
        padding: max(2rem, 80px) 0;
    }
    .sect .stnFrame{
        display: block;
        padding: max(1.5rem, 60px) 0 max(2.25rem, 90px) 0;
    }
    /*cnt04Left*/
    .sect .stnFrame .stnLeft{
        width: calc(100% / 8 * 6);
        margin: 0 auto;
    }
    .sect .stnFrame .stnLeft .mnBox img{
        width: calc(100% / 8 * 4.5);
    }
    .sect .stnFrame .stnLeft .mnBox p.mnBoxBtm{
        font-size: max(1.9em, 19px);
        line-height: max(0.75rem, 30px);
        margin-top: max(0.5rem, 20px);
    }
    .sect .stnFrame .stnLeft .subBox{
        margin-top: max(1.25rem, 50px);
    }
    .sect .stnFrame .stnLeft .subBox .innerBox{
        margin-top: max(0.5rem, 20px);
        display: flex;
        justify-content: left;
    }
    .sect .stnFrame .stnLeft .subBox .innerBox p.title{
        font-size: max(2.5em, 25px);
        width: calc(100% / 6 * 1.5);
    }
    .sect .stnFrame .stnLeft .subBox .innerBox .content{
        font-size: max(1.8em, 18px);
        margin-top: max(0.125rem, 5px);
        width: calc(100% / 6 * 4);
    }
    .sect .stnFrame .stnLeft .subBox .innerBox .content ul li{
        margin-right: calc(100% / 3 * 0.2);
    }
    .cnt05 .stnFrame .stnLeft .subBox .innerBox .content ul li{
        margin-right: calc(100% / 3 * 0.1);
    }
    .sect .stnFrame .stnLeft .subBox .innerBox img.content{
        width: calc(100% / 6 * 3.5);
    }
    /*stnRight*/
    .sect .stnRight{
        width: calc(100% / 8 * 7);
        margin: 0 auto;
        margin-top: max(2rem, 80px);
    }
    /*btn*/
    .sect .stnRight .btn{
        width: calc(100% / 7 * 4);
        margin-top: max(1rem, 40px);
    }
    .cnt06.sect .stnRight .btn{
        width: calc(100% / 7 * 5);
    }
    .sect .stnRight .btn ul li{
        width: calc(100% / 4 * 1.4);
    }
    .cnt06.sect .stnRight .btn ul li{
        width: calc(100% / 5 * 1.4);
    }
    .sect .stnRight .btn ul li a{
        font-size: max(2.3em, 23px);
        line-height: max(1.5rem, 60px);
    }
    /*viewBox*/
    .sect .stnRight .viewBox{
        position: relative;
        margin-top: max(1.25rem, 50px);
    }
    .sect .stnRight .viewBox .desktop{
        width: calc(100% / 7 * 5.5);
    }
    .sect .stnRight .viewBox .tablet{
        bottom: max(-1.25rem, -50px);
        width: calc(100% / 7 * 3.7);
    }
    .sect .stnRight .viewBox .mobile{
        width: calc(100% / 7 * 1.5);
    }

    /*cntWrap08*/
    .cntWrap08 .cnt08{
        padding: max(2rem, 80px) 0;
    }
    .cntWrap08 .cnt08 h2{
        width: calc(100% / 8 * 3.8);
    }
    .cntWrap08 .cnt08 .cnt08Frame{
        width: 100%;
        margin-top: max(1rem, 40px);
    }
    .cntWrap08 .cnt08 ul{
        display: flex;
        justify-content: space-between;
    }
    .cntWrap08 .cnt08 ul.secondLine{
        margin-top: max(0.25rem, 10px);
    }
    .cntWrap08 .cnt08 ul li{
        margin-top: max(0.25rem, 10px);
    }
    /*modal*/
    .cntWrap08 .cnt08 .modal .modalBox{
        width: calc(100% / 8 * 4.5);
    }
    .cntWrap08 .cnt08 .modal p.close{
        font-size: max(2.3em, 23px);
    }
    .cntWrap08 .cnt08 .modal .modalBox .modalBoxFrame{
        margin-top: max(0.125rem, 5px);
    }
}

@media(min-width: 0px)and (max-width: 420px){
    /*cntWrap01 cntWrap09*/
    /*cnt01Left cnt09Left*/
    .cnt01 .cnt01Left,
    .cnt09 .cnt09Left{
        width: calc(100% / 4);
    }
    .cnt01 .cnt01Left p.title,
    .cnt09 .cnt09Left p.title{
        font-size: max(1.6em, 16px);
    }
    .cnt01 .cnt01Left .cttGr,
    .cnt09 .cnt09Left .cttGr{
        margin-top: max(0.75rem, 30px);
    }
    .cnt01 .cnt01Left .cttGr p.title,
    .cnt09 .cnt09Left .cttGr p.title{
        font-size: max(1.5em, 15px);
    }
    .cnt01 .cnt01Left .cttGr p.content,
    .cnt09 .cnt09Left .cttGr p.content{
        font-size: max(1.4em, 14px);
    }
    .cnt01 .cnt01Left .cttGr .cttBox p,
    .cnt09 .cnt09Left .cttGr .cttBox p{
        line-height: max(0.75rem, 30px);
        white-space: nowrap;
    }

    /*cnt01 menu*/
    .cntWrap01 .menu ul li{
        font-size: max(1.4em, 14px);
        padding: max(0.375rem, 15px) 0;
    }
    /*cnt01Right*/
    .cnt01 .cnt01Right{
        width: calc(100% / 4 * 3);
    }
    .cnt01 .cnt01Right p.subTitle{
        font-size: max(2em, 20px);
    }
    /*cnt09Right*/
    .cnt09 .cnt09Right{
        width: calc(100% / 4 * 3);
    }

    /*cntWrap02*/
    .cnt02{
        padding: max(1rem, 40px) 0;
    }
    .cnt02 h2{
        width: calc(100% / 4 * 2.5);
    }
    .cnt02 .cnt02Frame{
        display: block;
    }
    /*cnt02Left*/
    .cnt02 .cnt02Left{
        width: 100%;
    }
    .cnt02 .cnt02Left .cnt02LeftFrame{
        margin-top: max(0.5rem, 20px);
    }
    .cnt02 .cnt02Left>img{
        width: calc(100% / 4 * 2);
        margin: 0 auto;
    }
    .cnt02 p.title{
        font-size: max(1.9em, 19px);
        line-height: max(1.125rem, 45px);
        padding-left: calc(100% / 4  * 0.2);
    }
    .cnt02 .cnt02Left .cnt02Box .inrBox{
        width: calc(100% / 4 * 3.6);
        margin-top: max(0.25rem, 10px);
    }
    .cnt02 .cnt02Left .cnt02Box .inrBox p{
        font-size: max(1.6em, 16px);
        line-height: max(0.75rem, 30px);
    }
    .cnt02 .cnt02Left .cnt02Box .inrBox p span.title{
        width: calc(100% / 3.4);
    }
    .cnt02 .cnt02Left .cnt02BoxBtm{
        margin-top: max(0.75rem, 30px);
    }
    .cnt02 .cnt02Left .cnt02BoxBtm .inrBox p{
        line-height: max(1.25rem, 50px);
    }
    .cnt02 .cnt02Left .cnt02BoxBtm .inrBox p img{
        width: calc(100% / 3.4 * 0.5);
        margin-right: calc(100% / 3.4 * 0.5);
    }
    .cnt02 .cnt02Left .cnt02BoxBtm .inrBox p span{
        margin-top: 0;
    }
    /*cnt02Right*/
    .cnt02 .cnt02Right{
        width: 100%;
        margin-top: max(0.5rem, 20px);
    }
    /*cnt02Rightframe01*/
    .cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box{
        margin-top: max(0.5rem, 20px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box:first-child{
        margin-top: 0;
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box:first-child .inrBox p:last-child{
        margin-top: max(0.25rem, 10px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box:nth-child(2) .inrBox p:last-child{
        margin-top: max(0.25rem, 10px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .inrBox{
        width: calc(100% / 4 * 3.6);
        margin-top: max(0.25rem, 10px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .cnt02Box p.title{
        padding-left: calc(100% / 4 * 0.2);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 .inrBox p{
        font-size: max(1.6em, 16px);
        line-height: max(0.625rem, 25px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 span{
        display: block;
    }
    .cnt02 .cnt02Right .cnt02Rightframe01 span.inline{
        margin-right: 0;
    }
    /*cnt02Rightframe02*/
    .cnt02 .cnt02Right .cnt02Rightframe02{
        margin-top: max(0.5rem, 20px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .cnt02Box p.title{
        padding-left: calc(100% / 4 * 0.2);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBox{
        width: calc(100% / 4 * 3.6);
        margin-top: max(0.2rem, 10px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop{
        display: block;
        line-height: max(1.125rem, 45px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop p.skillTitle{     
        font-size: max(1.6em, 16px);
        line-height: max(0.75rem, 30px);
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxTop .skillBox{
        height: max(0.375rem, 15px);
        width: 100%;
        margin-top: 0;
    }
    .cnt02 .cnt02Right .cnt02Rightframe02 .inrBoxBtm{
        margin-top: max(0.25rem, 10px);
        line-height: max(0.625rem, 25px);
        font-size: max(1.5em, 15px);
    }

    /*cntWrap03*/
    .cnt03 .cnt03Box{
        width: 100%;
    }
    .cnt03 .cnt03Box h2{
        width: calc(100% / 4 * 2);
    }
    .cnt03 .cnt03Box ul li{
        font-size: max(2em, 20px);
    }

    /*cntWrap04*/
    .cntWrap04{
        padding-top: max(0.5rem, 20px);
    }

    .cntWrap07{
        padding-bottom: max(0.5rem, 20px);
    }

    /*sectWrap*/
    .sect{
        padding: max(1rem, 40px) 0;
    }
    .sect .stnFrame{
        display: block;
        padding: max(0.875rem, 35px) 0 max(1.25rem, 50px) 0;
    }
    /*cnt04Left*/
    .sect .stnFrame .stnLeft{
        width: calc(100% / 4 * 3.5);
    }
    .sect .stnFrame .stnLeft .mnBox img{
        width: calc(100% / 4 * 3);
    }
    .sect .stnFrame .stnLeft .mnBox p.mnBoxBtm{
        display: none;
    }
    .sect .stnFrame .stnLeft .subBox{
        margin-top: max(0.5rem, 20px);
    }
    .sect .stnFrame .stnLeft .subBox .innerBox{
        margin-top: max(0.25rem, 10px);
        display: block;
    }
    .sect .stnFrame .stnLeft .subBox .innerBox p.title{
        font-size: max(1.7em, 17px);
        width: 100%;
    }
    .sect .stnFrame .stnLeft .subBox .innerBox .content{
        font-size: max(1.4em, 14px);
        margin-top: max(0.125rem, 5px);
        width: 100%;
    }
    .sect .stnFrame .stnLeft .subBox .innerBox .content ul li{
        margin-right: calc(100% / 4 * 0.2);
    }
    .sect .stnFrame .stnLeft .subBox .innerBox img.content{
        width: calc(100% / 4 * 3.5);
    }
    /*stnRight*/
    .sect .stnRight{
        width: calc(100% / 4 * 3.5);
        margin-top: max(1rem, 40px);
    }
    /*btn*/
    .sect .stnRight .btn{
        width: calc(100% / 4 * 2.5);
    }
    .cnt06.sect .stnRight .btn{
        width: calc(100% / 4 * 3.5);
    }
    .sect .stnRight .btn ul li{
        width: calc(100% / 2.5 * 1.1);
    }
    .cnt06.sect .stnRight .btn ul li{
        width: calc(100% / 3.5 * 1.1);
    }
    .sect .stnRight .btn ul li a{
        font-size: max(1.4em, 14px);
        line-height: max(1rem, 40px);
    }
    /*viewBox*/
    .sect .stnRight .viewBox{
        margin-top: max(0.75rem, 30px);
    }
    .sect .stnRight .viewBox .desktop{
        width: calc(100% / 4 * 3.5);
    }
    .sect .stnRight .viewBox .tablet{
        bottom: max(-1.25rem, -50px);
        width: calc(100% / 4 * 2.2);
    }
    .sect .stnRight .viewBox .mobile{
        width: calc(100% / 4 * 0.9);
    }

    /*cntWrap08*/
    .cntWrap08 .cnt08{
        padding: max(1.5rem, 60px) 0;
    }
    .cntWrap08 .cnt08 h2{
        width: calc(100% / 4 * 3);
    }
    .cntWrap08 .cnt08 .cnt08Frame{
        width: calc(100% / 4 * 3.4);
        margin-top: max(0.75rem, 30px);
    }
    .cntWrap08 .cnt08 ul{
        display: block;
    }
    .cntWrap08 .cnt08 ul li{
        margin-right: 0;
        filter: grayscale(0);
        margin-top: max(0.375rem, 15px);
    }
    .cntWrap08 .cnt08 ul.firstLine li:first-child{
        margin-top: 0;
    }
    /*modal*/
    .cntWrap08 .cnt08 .modal{
        display: none;
    }
}